.floatRight{
    float:right;
}
.marginTop20{
    margin-top: 20px;
}
.fontSize15{
    font-size: 15px;
    padding: 5px;
}
.fontBig{
    font-size: 20px;
}
.PaddingTop20{
    padding-top: 20px;
}
.PaddingLeft10{
    padding-left: 10px;
}
.padding10{
    padding-top: 10px;
    padding-bottom: 10px;
}