.SummaryHeaderView {
    width: 85vw;
    overflow-x: scroll;
}
.SummaryContentView {
    width: 85vw;
    height: 75vh;
    overflow-x: scroll;
    overflow-y: scroll;
}

.Row {
    width: 1400px;
    height: 80px;
    vertical-align: middle;
    line-height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.Row-Content {
  width: 1400px;
  height: 99px;
  line-height: 99px;
  vertical-align: middle;
  object-fit: contain;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  position: relative;
}

.Line-Content {
  width: 2px;
  height: 99px;
  object-fit: contain;
  border: solid 0.2px #b5b6c7;
}

.Col-Header {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #525a75;
    position: absolute;
    vertical-align: middle;
    line-height: 25px;
}

.Selection-DropDown {
    width: 130px;
}

.Col-Content {
    margin-left: 5px;
    line-height: 20px;
    vertical-align: middle;
    position: absolute;
    padding-top: 30px;
}

.Content-Active {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #515364;
}

.Content-InActive {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #9b9b9b;
}

.Col-Sep {
    width: 2px;
    height: 99px;
    object-fit: contain;
    border: solid 0.2px #eee8f4;
    position: absolute;
}


.Col-Content1 {
    left: 10px;
}

.Col-Sep1 {
    left: 284px;
}

.Col-Content2 {
    left: 286px;
}

.Col-Sep2 {
    left: 449px;
}

.Col-Content3 {
    left: 451px;
}

.Col-Sep3 {
    left: 561px;
}

.Col-Content4 {
    left: 563px;
}

.Col-Sep4 {
    left: 708px;
}

.Col-Content5 {
    left: 710px;
}

.Col-Sep5 {
    left: 853px;
}

.Col-Content6 {
    left: 855px;
}

.Col-Sep6 {
    left: 1051px;
}

.Col-Content7 {
    left: 1053px;
}

.Col-Sep7 {
    left: 1175px;
}

.Col-Content8 {
    left: 1177px;
}

.Col-Sep8 {
    left: 1248px;
}

.Col-Content9 {
    left: 1250px;
}
