.floatRight{
    float:right;
}
.marginTop20{
    margin-top: 20px;
}
.fontSize15{
    font-size: 15px;
    padding: 5px;
}
.fontBig{
    font-size: 20px;
}
.PaddingTop20{
    padding-top: 20px;
}
.PaddingLeft10{
    padding-left: 10px;
}
.padding10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-body-var {
    padding-top: 2px;
    padding-bottom: 3px;
    height: 55px;
}

.card-body-var-sys {
    padding-top: 2px;
    padding-bottom: 3px;
    height: 45px;
}