.headerRow{
	padding: 0px 0px;
	background-color: white;
	border-radius: 0px !important;
	border: 1px solid #0e151d40;
	margin-top:0px !important; 
}
.headerRow1{
	text-align: left;
	background-color: #ffffff;
	border-left:1px solid #0e151d40;
	border-right:1px solid #0e151d40;
}

.headerRow2{
	text-align: left;
	background-color: #e4e5e640;
	border-left:1px solid #0e151d40;
	border-right:1px solid #0e151d40;
}

.headerRow3{
    text-align: left;
	border-bottom:1px solid #0e151d40;
	margin-bottom: 50px;
}

.head-name{
	font-weight: 600;
	font-size: 15px;
	padding: 10px 0px;
	text-align: left;
}
.list-group-item {
	background-color: transparent !important;
	border: none !important;
}



.custBtn{
	background-color: white  !important;
	border-radius: 6px  !important;
	border: 1px solid #20a8d8  !important;
	padding: 10px  !important;
	margin-bottom: 10px !important;
	margin-right: 10px  !important;
	color: #20a8d8 !important;
	
}

.disabledBtn{
	background-color: white  !important;
	border-radius: 6px  !important;
	border: 1px solid #a4b7c1  !important;
	padding: 10px  !important;
	margin-bottom: 10px !important;
	margin-right: 10px  !important;
	color: #a4b7c1 !important;
	cursor: not-allowed !important;
	
}



:disabled{
	cursor: not-allowed !important;
	border: 1px solid #a4b7c1  !important;
	color: #a4b7c1 !important;
}

.borRad{
	border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.borRadLeft{
	border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.borRadRight{
	border-bottom-right-radius: 8px !important;
	border-top-right-radius: 8px !important;
	content: "\f002";
}

.boxBorder{
	border:1px solid #a4b7c1;
	border-radius: 6px;
	padding: 10px 0px;
}

.overflow {
    position: absolute;
    z-index: 1000;
}

.srNo{
    font-weight: 400;
	font-size: 15px;
    color:#191a1b9c ; 
}

.edit{
    font-size: 25px;
    font-weight: 600;
}

.dispIn{
    display: inline;
}
.wid{
    width: 250px !important;
}
.fa-arrow-left{
    font-size: 15px;
    color: #191a1b9c;
}

.main .container-fluid {
    padding: 0 50px !important;
}


.posRight{
    position: relative;
    left:30px;

}

.linuxBox{
	display:inline-block;
	width:49%;
	margin-right:10px;
	padding:10px;
	border:1px solid #a4b7c1;
	border-radius: 6px;
}

.cursor-pointer{
	cursor: pointer;
}


/* margin classes start*/

.marginLeft13N{
	margin-left: -13px !important;
}

.marLeft10{
    margin-left:10px;
}
marRight10{
	margin-right: 10px; 
}

.marLeft40 {
    margin-left: 40px !important;
}

.marRight40 {
    margin-right: 40px !important;
}
.marTop10{
	margin-top:10px !important;
}

.marTop20{
	margin-top:20px;
}

/* margin classes end*/

/* Padding classes start */

.pad{
	padding: 5px 15px;
}

.padTop30{
    padding-top: 30px;
}
.padTop20{
    padding-top: 50px;
}

/* Padding classes end */


.form-control:disabled{
    background-color: white !important;
	cursor: not-allowed !important;
}	

.break-word{
	word-wrap: break-word;
}

.disappear{
	-webkit-animation: mymove 1; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
	animation: mymove 1;
	animation-duration: 3s;
	animation-fill-mode: forwards
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
from {opacity: 1;}
to {opacity: 0;}
}

@keyframes mymove {
from {opacity: 1;}
to {opacity: 0;}
}



